streamlit==1.40.1
fastai==2.7.18
fastcore==1.5.41
Pillow==10.3.0
torch==2.3.0
torchvision==0.18.0
pandas==2.2.3
scikit-learn==1.5.2
matplotlib==3.9.0
numpy==1.26.4
requests==2.32.2
scipy==1.13.1
tqdm==4.66.4
pyarrow==18.0.0